doctype html
html.no-js(lang='en')
  head
    title Static Gen
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='shortcut icon', type='image/ico', href='/assets/img/favicons/favicon.ico')
    link(rel='icon', type='image/png', href='/assets/img/favicons/favicon.png')
    script(src='/assets/js/vendor/jquery-1.11.3.min.js')
    // Scripts
    //if lte IE 8
      script(src='/assets/js/vendor/respond.min.js')
    //if lte IE 9
      script(src='/assets/js/vendor/html5shiv.js')
